[core]
	excludesfile = C:\\Users\\Michael Lesirge\\.gitignore
[user]
	email = michaellesirge@gmail.com
	name = Michael Lesirge
[color]
	ui = true
[alias]
	log-graph = log --graph --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(cyan)%ad%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)\n' --all
